body {
    background-color:#021027;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
 span.color {
   color: White;
 }
  div.a {
    	text-align: center;
      font-family: Arial;
      color :White;
  }
  div.b {
    	text-align: center;
      font-family: Arial;
      color: White;
      background-color: #021027;
      color: black;
      border: 2px solid White;
      transition-duration: 0.4s;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
  }
  .b:hover {
    background-color: Gray;
    color: white;
  }
  div.c {
    background-color: #021027;
    text-align: center;
    font-family: Arial;
    border: 7px solid white;
    margin: 20px;
    color: White;
    font-size: large;
    margin:120px auto;
    height:150px;
    width: 200px;
  }
