@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
div.c {
 width: 100px;
}

body {
    background-color:#021027;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
/*  .container {
    display: flex;
    justify-content: center;
  } */
 span.color {
   color: White;
 }
  div.a {
    	text-align: center;
      font-family: Arial;
      color :White;
  }
  div.b {
    	text-align: center;
      font-family: Arial;
      color: White;
      background-color: #021027;
      color: black;
      border: 2px solid White;
      transition-duration: 0.4s;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      /* margin: 50px 150px; */
  }
  .b:hover {
    background-color: Black;
    color: white;
  }
  div.c {
    background-color: #021027;
    text-align: center;
    font-family: Arial;
    border: 7px solid white;
    margin: 20px;
    color: White;
    font-size: large;
  /*  margin:80px 800px;*/
    /* height:225px; */
    margin:120px auto;
    height:200px;
    width: 250px;
  }
